<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="logo">BLOG</div>
        <a href="{{ url_for('home') }}" class="new-blog-button">More Blogs</a>
    </nav>
    <div class="container">
        <h1 id="blog-title"></h1>
        <div id="blog-content" class="blog-content"></div>
        <!-- <small id="blog-date"></small> -->
        <!-- <a href="{{ url_for('home') }}">Back to Blog</a> -->
    </div>
    <script src="{{ url_for('static', filename='blog.js') }}"></script>
    <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>
</body>
</html>
